.nav-tabs {
    border-bottom: none !important;
}

/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: black;
    border-color: black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    border-color: black;
} */

.header{
    color: white;
    height: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header img{
    position: relative; 
    width: 100%; /* for IE 6 */
    height: 300px;
    opacity: 0.75;
}

.header h3{
    position: absolute; 
    top: 100px; 
    left: 10; 
    width: 100%;
}

.menu{
    display: block;
    position: relative;
    top: 60px;
    text-align: center;
    width: 23%;
}

.menu ul {
    list-style: none;
}

.menu ul li{
    display: inline;
    float: left;
}

.menu ul li a{
    color: white;
    background: black;
    width: 130px;
    color: white;
    padding: 10px 0px;
}

.menu ul li a:nth-child(2){
    border-left: 1px solid #fff;
}

.body-content{
    overflow: hidden;
    padding: 100px 0px;
}